@using MaldsKeeperWebApp.ViewModels
@model IEnumerable<IndexRecordViewModel>

<h1>Record View</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table-hover table-light">
    <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Login</th>
            <th scope="col">Password</th>
            <th scope="col">Description</th>
            <th scope="col">Added Time</th>
            <th scope="col">Edited Time</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Title)</td>
                <td class="copyable" data-copy-value="@item.Login">@Html.DisplayFor(modelItem => item.Login)</td>
                <td class="copyable" data-copy-value="@item.Password">@Html.DisplayFor(modelItem => item.Password)</td>
                <td>@Html.DisplayFor(modelItem => item.Description)</td>
                <td>@Html.DisplayFor(modelItem => item.AddedTime)</td>
                <td>@Html.DisplayFor(modelItem => item.EditedTime)</td>
                <td>
                    <a type="button" class="btn btn-sm btn-outline-info" asp-controller="Record" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a type="button" class="btn btn-sm btn-outline-info" asp-controller="Record" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    document.querySelectorAll('.copyable').forEach(cell => {
        cell.addEventListener('click', function () {
            const textToCopy = this.getAttribute('data-copy-value');
            navigator.clipboard.writeText(textToCopy).then(function () {
                console.log('Copying to clipboard was successful!');
            }, function (err) {
                console.error('Could not copy text: ', err);
            });
        });
    });
</script>
