@using MaldsKeeperWebApp.ViewModels
@model IEnumerable<IndexRecordViewModel>

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item active">Records</li>
</ol>
<br />
<p>
    <a asp-action="Create" type="button" class="btn btn-primary" control-id="ControlID-47">Create New</a>
</p>
<br />
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Login</th>
            <th scope="col">Password</th>
            <th scope="col">Description</th>
            <th scope="col">Added Time</th>
            <th scope="col">Edited Time</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Title)</td>
                <td class="copyable" data-copy-value="@item.Login">@Html.DisplayFor(modelItem => item.Login)</td>
                <td class="copyable" data-copy-value="@item.Password">@Html.DisplayFor(modelItem => item.Password)</td>
                <td>@Html.DisplayFor(modelItem => item.Description)</td>
                <td>@Html.DisplayFor(modelItem => item.AddedTime)</td>
                <td>@Html.DisplayFor(modelItem => item.EditedTime)</td>
                <td>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <a type="button" class="btn btn-secondary btn-sm" control-id="ControlID-105" asp-controller="Record" asp-action="Edit" asp-route-id="@item.Id"> Edit </a>
                        <a type="button" class="btn btn-outline-danger btn-sm" control-id="ControlID-106" asp-controller="Record" asp-action="Delete" asp-route-id="@item.Id">X</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    document.querySelectorAll('.copyable').forEach(cell => {
        cell.addEventListener('click', function () {
            const textToCopy = this.getAttribute('data-copy-value');
            navigator.clipboard.writeText(textToCopy).then(function () {
                console.log('Copying to clipboard was successful!');
            }, function (err) {
                console.error('Could not copy text: ', err);
            });
        });
    });
</script>
